*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --border-light: #eee;
    --border-medium: #ddd;
    --border-dark: #ccc;

    --rounded-xs: 2.5px;
    --rounded-sm: 5px;
    --rounded-md: 7.5px;
    --rounded-lg: 10px;

    --color-grey-lighter: #ddd;
    --color-grey-lightest: #fafafa;
    --color-grey: #bbb;
    --color-grey-light: #ccc;
    --color-grey-dark: #999;
    --color-grey-darker: #777;
    --color-grey-darkest: #555;
    --color-black: #000;
    --color-white: #fff;
}

:root,
body,
#root {
    height: 100%;
}

body {
    background-color: #f5f9fb;
    font-family: "Roboto", sans-serif;
}
